# Auto detect text files and perform LF normalization
* text=auto
# Specify that .ino files should be treated as Arduino for syntax highlighting
*.ino linguist-language=Arduino

# Treat .h and .cpp files as C++ for syntax highlighting
*.h linguist-language=C++
*.cpp linguist-language=C++

# Normalize text files to use LF line endings
*.ino text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Set binary files to be treated as binary and not normalized
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.tar binary
*.gz binary

# Markdown documentation files
*.md linguist-documentation=true

# Ignore all other files
